<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Girls Blog</title>
</head>
<body>
    <header>
        <h1><a href="/">Django Girls Blog</a></h1>

    </header>
    <article>
        <time>published: 14.06.2014, 12:14</time>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse suscipit dignissimos alias rerum nulla, minima odio velit corporis quas totam inventore dolorum eius eveniet repellat earum ad illo labore aliquid.</p>
    </article>
    <article>
        <time>published: 14.06.2014<,12:14/time>
        <h2><a href="">My Second post</a></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quidem veniam consectetur cum omnis, eum quaerat cupiditate. Illo neque ullam hic, velit recusandae dignissimos rem quasi tenetur saepe provident cumque.</p>
    </article>
    
</body>
</html>